* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  box-shadow: 0px 0px 15px grey;
}
.logo-container {
  width: 20%;
  /* border: 1px solid yellowgreen; */
}
.logo-container img {
  width: 23%;
  height: 90%;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: 1.5%;
  /* border: 1px solid black; */
}
.nav-items {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid aqua; */
}
.nav-items ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
}
.nav-items ul li {
  cursor: pointer;
  list-style: none;
  font-size: 1.8rem;
}
.nav-items ul li a {
  text-decoration: none;
  color: black;
}
.nav-items ul li a:hover {
  color: #e58a4a;
}

.login-btn {
  padding: 0.8rem 1.5rem;
  background-color: #f7751b;
  color: white;
  border: 0;
  outline: 0;
  font-family: serif;
  border-radius: 0.6rem;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e58a4a;
}

/* .res-container {
  border: 2px solid red;
  width: 100%;
} */

.res-cards {
  width: 28rem;
  height: 31rem;
  margin: 0rem 6rem 2rem 0rem;
  padding: 1.5rem 1.5rem 4.7rem;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}
.card {
  width: 25.4rem;
  height: 29rem;
}
.res-cards img {
  width: 25.4rem;
  height: 16rem;
}
.res-cards #name {
  margin-top: 0.6rem;
  font-size: 1.7rem;
}
.res-cards #cuisines {
  font-size: 1.3rem;
  color: #686b78;
  margin-top: 0.8rem;
}
.res-details {
  width: 100%;
  height: 20%;
  margin-top: 2rem;
}
.res-details ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.res-details ul li {
  padding: 1.5rem 3.3rem 0px 0rem;
  font-size: 1.2rem;
  color: #535665;
}
.res-details ul #rating {
  list-style: none;
  font-weight: 800;
  color: rgb(53, 236, 53);
  /* padding: 2rem 1rem 2rem 0rem; */
}
.res-cards:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 10px #0f0f0f0f;
}
.res-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.search {
  width: 100vw;
  height: 5rem;
  /* border: 2px solid red; */
}
.filter-btn {
  padding: 1.3rem;
  margin-top: -1.5rem;
  color: white;
  border: 0;
  outline: 0;
  background-color: #f7751b;
  border-radius: 0.8rem;
}

.shimmer-container {
  margin-top: 3rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shimmer-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 7rem;
}

.shimmer-card {
  width: 28rem;
  height: 31rem;
  margin: 0rem 6rem 2rem 0rem;
  padding: 1.5rem 1.5rem 4.7rem;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 0px 12px 10px #0f0f0f0f;
}
.shimmer-img {
  width: 25.4rem;
  height: 16rem;
  background-color: #f5f5f5;
}
.shimmer-details {
  width: 100%;
  height: 20%;
  margin-top: 2rem;
  background-color: #f5f5f5;
}
.filter {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 3.5rem;
}
.search {
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 216, 216);
  border-radius: 0.8rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
.search input {
  width: 80%;
  border-radius: 0.8rem;
  padding: 1rem;
  outline: 0;
  border: 1px;
}
.search button {
  width: 20%;
  border-radius: 0.8rem;
  padding: 1.2rem;
  border: 0;
  outline: 0;
  background-color: #f7751b;
  color: white;
}
